body {
    background-color: rgb(180, 150, 15); 
}

.titulo p{
    color: white;
}

.center {
    text-align: center;
}


.center a {
    color: white;
    text-decoration: none;
}

.center a:hover {
    text-decoration: underline;
}